html, body {
    height: 100%;
}

body {
    margin: 0;
}

.scroll-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.frame-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    transition: top 500ms ease-in-out, left 500ms ease-in-out;
}

.frame {
    height: 100%;
    overflow: auto;
}

[direction="horizontal"] > .frame-container {
    white-space: nowrap;
    left: 0;
}

[direction="horizontal"] > .frame-container > .frame {
    display: inline-block;
    width: 100%;
    margin-right: -4px;
    vertical-align: top;
}
